<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  Hey! <br />
  If you're reading this, you're one more than the number of people I expected
  to read this 😛.<br />
  I'm a final year student due to graduate (thanks CoVID) by Jul'2020
  (Hopefully). <br />
  I enjoy writing code that makes cool stuff happen, and I completely support
  and participate in useless automation. <br />
  I'm not very sure about what this blog will have, but I've wanted to have a
  nice place to share stuff that I find cool, or just things that I've learnt
  through my googling journey, so today seems like as a good day as any to
  start!<br /><br />

  <b>Want to get in touch with me?</b><br />
  <table class="nopaddingtable">
    <tr>
      <td>Email</td>
      <td><a href="mailto:yashah1234@gmail.com">yashah1234@gmail.com</a></td>
    </tr>
    <tr>
      <td>LinkedIn</td>
      <td>
        <a href="https://www.linkedin.com/in/yashshah13" target="_blank"
          >Yash Shah</a
        >
      </td>
    </tr>
    <tr>
      <td>Twitter</td>
      <td>
        <a href="https://twitter.com/JustAnotherYash" target="_blank"
          >JustAnotherYash</a
        >
      </td>
    </tr>
    <tr>
      <td>Github</td>
      <td>
        <a href="https://github.com/yashshah1" target="_blank">YashShah1</a>
      </td>
    </tr>
  </table>
  <br />
  PS: Do you have any idea how tough it is to find usernames when your name is
  <i>Yash Shah!</i>
</div>
