<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  Hey! <br />
  If you're reading this, you're one more than the number of people I expected
  to read this :P.<br />
  I'm a final year student due to graduate (thanks CoVID) by Jul'2020
  (Hopefully). <br />
  I enjoy writing code that makes cool stuff happen, and I completely support
  and participate in useless automation. <br />
  I'm not very sure about what this blog will have, but I've wanted to have a
  nice place to share stuff that I find cool, or just things that I've learnt
  through my googling journey, so today seems like as a good day as any to
  start!<br />
  Please shoot feedback to me through any medium you like!<br />
</div>
